<h1><%= title %></h1>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Card</th>
        <th>Set</th>
        <th>Rarity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% cards.forEach(card => { %>
        <tr>
          <td><%= card.name %></td>
          <td><%= card.set_name %></td>
          <td><%= card.rarity %></td>
          <td>$<%= card.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>